
body{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #128c7e 0%,#128c7e 15%, #dadbd3 15%, #dadbd3 100%);
    background-repeat: no-repeat;
}

#app {
    background-color: #fff;
    height:92%;
    width:80%;

    display: flex;
    justify-content: start;
    align-items: center;
}



/* ?section left side */
#l-side{
    height: 100%;
    width: 40%;

    border: 1px solid blue;

}
 /***** user header ********/
#contact-header,
#user-header{
    width: 100%;
    height: 80px;
    background-color: #ece5dd;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact-header .contact-icons,
#user-header .user-icons{
    display: flex;
    justify-content: space-around;
}
#msg-control i,
#contact-header .contact-icons i,
#user-header .user-icons i{
    color:#808080;
}


/****** user control section *****/
#user-control{
    width: 100%;
    height: 100px;
    background-color: #8edafc;

    display: flex;
   
    align-items: center;
}

#user-control .bg-bell{
    height: 60px;
    width: 60px;
    margin-right: 10px;
    line-height: 60px;
    text-align: center;
   
    color: #8edafc;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
/****** user search section *****/

#user-search {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/****** user contacts section *****/
#user-contacts{
    width: 100%;
    height: calc(100% - 240px);
    background-color: #fff;

    overflow-y: scroll;
}

#user-contacts .contact{
    width: 100%;
    height: 100px;
}
#user-contacts .contact:hover{
    background-color: #ece5dd;
    
}
/* ?section right side */
#r-side{
    height: 100%;
    width: 60%;
}

#chat{
    width: 100%;
    height: calc(100% - 160px);

    background: url('../assets/img/mine.jpg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: contain;
    overflow-y: scroll;
}
/*? section msg control*/
#msg-control{
    width: 100%;
    height: 80px;
    background-color: #ece5dd;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*? section contact header*/
#contact-header .contact-info{
    display: flex;
    justify-content: start;
    align-items: center;
}
#contact-header .contact-info .info-items{
    line-height: 3px;
    width: 300px;
    height: 100%;
}
/**!utils **/
.img-avatar{
    width:60px;
    border-radius: 50%;
    cursor: pointer;
}

